## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_footer()">
    %if content_footer:
    <footer class="site-footer clearfix">
    	<div>
    		<ul class="ul-content">
    			<li class="li-content">
	        		<a class="twitter-timeline" href="https://twitter.com/bitsonArgentina" data-width="900" data-height="500">bitsonArgentina</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	    			</li>
    			<li class="li-content">
    				<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=bitson.group_n8udeap8kf7sm5o73tho6nfjmo%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FArgentina%2FBuenos_Aires" style="border-width:0" width="450" height="450" frameborder="0" scrolling="no"></iframe>
    			</li>
              </div>
    		</ul>
             <div>
                     <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup{background:#02679A; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                    <form action="https://bitson.us16.list-manage.com/subscribe/post?u=8d2a2e327df023bc6d057234e&amp;id=edd75da63e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL">¡Suscribite a nuestro newsletter y no te pierdas ningún evento de la agenda IT!</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8d2a2e327df023bc6d057234e_edd75da63e" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                    </div>
                    <!--End mc_embed_signup-->
    	</div>
    	<section class="poweredby">${content_footer}</section>
        ${template_hooks['page_footer']()}
    </footer>
    %endif
</%def>
